body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

li,
a {
    text-decoration: none;
    list-style: none;
    color: white;
}

/* navigation bar */

nav {
    display: flex;
    background-color: #2b2b2b;
    align-items: center;
    padding: 0 1rem 0 1rem;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo>a {
    font-weight: bold;
    font-size: 1.2rem;
}

.logo>a:hover {
    transition: 0.5s;
    color: #7fffd4;
}

.nav-ul {
    display: flex;
    gap: 1rem;
}

.nav-li-class>a:hover {
    transition: 0.5s;
    color: #40e0d0;
}

.nav-li-boss>a:hover {
    transition: 0.5s;
    color: #dc143c;
}

@media (min-width: 1000px) {
    nav {
        justify-content: center;
    }

    .nav-container {
        display: flex;
        max-width: 1000px;
        align-items: center;
        justify-content: flex-start;
        padding: 0 1rem 0 1rem;
        gap: 2rem;
    }
    
    .nav-ul {
        gap: 2.5rem;
    }
}


/* main content styles */

main {
    display: flex;
    background-color: #222222;
    min-height: 100vh;
    justify-content: center;

}

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.welcome-zw {
    color: #7fffd4;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
}

@media (min-width: 1000px) {
    .welcome {
        flex-direction: row;
    }
}

/* footer styles */

footer {
    display: flex;
    background-color: #2b2b2b;
    color: white;
    margin-top: auto;
    justify-content: center;
}

footer>p {
    font-size: 0.9rem;
}