body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

li, a {
    text-decoration: none;
    list-style: none;
    color: white;
}

/* navigation bar */

nav {
    display: flex;
    background-color: #2b2b2b;
    align-items: center;
    justify-content: space-around;
}

.logo > a {
    font-weight: bold;
    font-size: 1.2rem;
}

.logo > a:hover {
    transition: 0.5s;
    color: #7fffd4;
}

.nav-ul {
    display: flex;
    gap: 1rem;
}

.nav-li-class > a:hover {
    transition: 0.5s;
    color: #40e0d0;
}

.nav-li-boss > a:hover {
    transition: 0.5s;
    color: #dc143c;
}

@media (min-width: 800px) {
    nav {
        justify-content: flex-start;
        padding-left: 10%;
        gap: 2rem;
    }

    .nav-ul {
        gap: 2.5rem;
    }
}


/* main content styles */

main {
    display: flex;
    background-image: url("../../../4060492.jpg");
    background-repeat: repeat;
    background-size: cover;
    min-height: 100vh;
    justify-content: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3b3b3b;
    border-radius: 10px;
    margin: 3rem;
    width: 100%;
    max-width: 1107px;
}

/* content navigation */

.content-nav {
    display: flex;
    flex-direction: column;
    background-color: #1b1b1b;
    width: 100%;
    border-radius: 10px 10px 0 0;
    margin: 0;
}

/* footer styles */

footer {
    display: flex;
    background-color: #2b2b2b;
    color: white;
    margin-top: auto;
    justify-content: center;
}

footer > p {
    font-size: 0.9rem;
}