body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

li,
a {
    text-decoration: none;
    list-style: none;
    color: white;
}

/* navigation bar */

nav {
    display: flex;
    background-color: #2b2b2b;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
}

.logo>a {
    font-weight: bold;
    font-size: 1.2rem;
}

.logo>a:hover {
    transition: 0.5s;
    color: #7fffd4;
}

.nav-ul {
    display: flex;
    gap: 1rem;
}

.nav-li-class>a:hover {
    transition: 0.5s;
    color: #40e0d0;
}

.nav-li-boss>a:hover {
    transition: 0.5s;
    color: #dc143c;
}

@media (min-width: 1000px) {
    nav {
        justify-content: flex-start;
        padding-left: 15%;
        gap: 2rem;
    }

    .nav-ul {
        gap: 2.5rem;
    }
}


/* main content styles */

main {
    display: flex;
    background-image: url("../../4060492.jpg");
    background-repeat: repeat;
    background-size: cover;
    min-height: 100vh;
    justify-content: center;

}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3b3b3b;
    padding-top: 1rem;
    width: 100%;
    max-width: 1075px;
}

.main-container>h1 {
    display: flex;
    margin: 0 0 1rem 0;
}

.class-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #4b4b4b;
    width: 100%;
    height: 100%;
    margin: 0 2rem 0 2rem;
}

.str,
.agi,
.int {
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem 1rem;
    padding: 0;
}

.str>ul,
.agi>ul,
.int>ul {
    display: flex;
    padding: 0;
}

@media (min-width: 800px) {
    .main-container {
        margin: 3rem;
        padding: 2rem;
        border-radius: 10px;
    }

    .class-container {
        flex-direction: row;
        justify-content: space-around;
        border-radius: 10px;
        padding: 0.5rem;
    }

    .str,
    .agi,
    .int {
        align-items: center;
    }

    .str>ul,
    .agi>ul,
    .int>ul {
        display: flex;
        padding: 0;
        width: 100%;
        justify-content: space-around;
    }
}

/* footer styles */

footer {
    display: flex;
    background-color: #2b2b2b;
    color: white;
    margin-top: auto;
    justify-content: center;
}

footer>p {
    font-size: 0.9rem;
}